body{
    background-image: linear-gradient(to bottom, rgb(255, 0, 0),rgb(255, 230, 0), rgb(0, 250, 0),rgb(0, 145, 255));
    backdrop-filter: blur(20px);

}
.heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    border: 2px solid rgb(219, 135, 51);
    border-radius: 20px ;
    margin-right: 40%;
    margin-left: 40%;
    margin-bottom: 40px;
    background-image: linear-gradient(to right,rgb(64, 64, 64),rgb(106, 106, 106),rgb(39, 128, 169));
    color: white;
    
}

.grid{
    justify-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 20px;
}
img{
    border: 3px solid cyan;
    border-radius: 20px;
    box-shadow: 50px black;
}
